<html>
<head>
  <title>YesWeScore</title>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">  
</head>
<body class="dark">
  <div class="intro">
    <div class="search">
      <div class="text">RECHERCHER UN CLUB</div>
      <div class="bar">
        <form action="/search" method="GET">
        <input type="search" class="mylib-forms" name="search" id="search-basic" value="" />
        <div class="magnifier">
          <img src="/images/ico-magnifier-glass.jpg" width="15" height="15" style="margin:5px"/>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>