<html>
<head>
  <title>YesWeScore</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/main.css">  
</head>
<body class="intro-back">

  <div class="intro">
      <div class="intro-pos indexViewTemplate">
        <div class="searchword">RECHERCHER UN CLUB</div>
        <div class="searchbar">
              <input type="search" class="mylib-forms" name="search" id="search-basic" value="" />
        </div>
      </div>  
  </div>
 
</body>
</html>