<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="">

    <span class="success label label-info hide"></span>


    <div class="account">
      <a href="#" class="warning" id="deleteMatch" data-i18n="gameform.delete"></a>
    </div>

    <hr />

	<!-- 
    <div style="padding-top: 10px">
      <label class="form-label" for="city" data-i18n="gameform.date"></label>
    </div>
    <div>
      <input type="date" id="city" name="date" value="<%= game.dates.start %>" /> 
        <span class="date_error label label-info hide"></span>
    </div>

    <div style="padding-top: 10px">
      <label class="form-label" for="city" data-i18n="gameform.time"></label>
    </div>
    <div>
      <input type="time" id="city" name="time" value="" /> <span
        class="time_error label label-info hide"></span>
    </div>
     -->

    <div class="ui-grid-b">
	  <div class="ui-block-a">
		  <input type="text" id="team1" name="team1" data-i18n="[placeholder]gameadd.player1;" value=""/> 
    </div>
	  <div class="ui-block-b">
		  <input type="text" id="rank1" name="rank1" data-i18n="[placeholder]gameadd.rank;" value="" />
          <input type="hidden" id="owner1" name="owner1" value="" />      
	  </div>
    </div> 
    
        
    <span class="team1_error label label-info hide"></span> 
     
    <div class="ui-grid-b" style="padding-top: 10px">
	  <div class="ui-block-a">
		  <input type="text" id="team2" name="team2" data-i18n="[placeholder]gameadd.player2;" value=""/>
	  </div>
	  <div class="ui-block-b">
		  <input type="text" id="rank2" name="rank2" data-i18n="[placeholder]gameadd.rank;" value="" />
          <input type="hidden" id="owner2" name="owner2" value="" />      
	  </div>
    </div>  
    
    <span class="team2_error label label-info hide"></span>    

    <div style="padding-top: 10px">
      <label class="form-label" for="city" data-i18n="gameform.city"></label>
    </div>
    <div>
      <input type="text" id="city" name="city" data-i18n="[placeholder]gameform.city;" value="<%= game.location.city %>" /> 
        <span class="city_error label label-info hide"></span>
    </div>

    <div style="padding-top: 10px">
      <label class="form-label" data-i18n="gameform.whoserverdfirst"></label>
    </div>    
    <div class="serverbar">
      <div class="ui-grid-a">
        <div class="ui-block-a button">
          <a id="startTeam1"><%= game.teams[0].players[0].name %></a>
        </div>
        <div class="ui-block-c button">
          <a id="startTeam2"><%= game.teams[1].players[0].name %></a>   
        </div>
      </div>      
    </div>    
    
    <div id="inject-select"></div>
    

  </div>
</div>


<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="process">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form">
    <div class="button" id="updateGame" data-i18n="gameform.update"></div>
  </div>
</div>

