     <div style="padding-top: 10px">
      <label class="form-label" for="official" data-i18n="gameadd.official"></label>
    </div>
    <div>
      <div class="form-radio-android">
        <input id="competition" type="radio" name="competition" value="yes"/>
        <label data-i18n="gameadd.yes"></label>
        <input id="competition" type="radio" name="competition" value="no"/>
        <label data-i18n="gameadd.no"></label>
      </div>
    </div>
    
             
    <!--      
          <div class="ui-grid-a">

          
          <div class="ui-block-a">
            <div class="form-label" data-i18n="gameadd.court"></div>
          </div>
          <div class="ui-block-b">
            <div class="form-label" data-i18n="gameadd.tour"></div>
          </div>
          <div class="ui-block-a" style="padding-right:5px;">
            <input name="court" id="court" value="" style="width:100%" data-i18n="[placeholder]gameadd.court;"/>
          </div>
          <div class="ui-block-b" style="padding-left:5px;">            
            <input name="tour" id="tour" value="" style="width:100%" data-i18n="[placeholder]gameadd.tour;"/>          
          </div>
        </div>
        

        <div class="ui-grid-a">
          <div class="ui-block-a">
                  <div class="form-label" data-i18n="gameadd.surface"></div>
          </div>
          <div class="ui-block-b">
                  <div class="form-label" data-i18n="gameadd.official"></div>
          </div>
          <div class="ui-block-a" style="padding-right:5px;">
            <input name="surface" id="surface" value="" style="width:100%" data-i18n="[placeholder]gameadd.surface;"/> 
           </div>
           <div class="ui-block-b" style="padding-right:1px;">
                <div class="form-radio-android">
                  <input id="competition" type="radio" name="competition" value="yes"/>
                  <label data-i18n="gameadd.yes"></label>
                  <input id="competition" type="radio" name="competition" value="no"/>
                  <label data-i18n="gameadd.no"></label>
              </div>
           </div>
            </div>
     -->  