<% if(games.length==0) { %>
<li><p class="message" data-i18n="message.noresult"></p></li>
<% } %> 
<% for (var i = 0; i < games.length; i++) { 

game = games[i]; 

if (game.error!==undefined) 
{
  if (game.error.length > 1 ) 
  {  
%>
<li><p class="message" data-i18n="message.error"></p></li>
<%
   break;
  }
}


team1_set1 = '&nbsp;'; 
team1_set2 = '&nbsp;'; 
team1_set3 = '&nbsp;';
team2_set1 = '&nbsp;'; 
team2_set2 = '&nbsp;'; 
team2_set3 = '&nbsp;';
set_current = 1; 
team1_sets = '0'; 
team2_sets = '0'; 

if (game.infos.score !== null ) { 
  if(game.infos.score.indexOf('/')!=-1) { 
    scoreboard = game.infos.score.split('/'); 
    team1_sets = scoreboard[0]; 
    team2_sets = scoreboard[1]; 
    } 
} 
  
if (game.infos.sets !== null ) { 
  if (game.infos.sets.indexOf(';')!=-1) { 
    scoreboard = game.infos.sets.split(';'); 
    
    if (scoreboard.length==2 ||scoreboard.length==3) { 
      scoreboard1 = scoreboard[0].split('/');
      team1_set1 = scoreboard1[0]; 
      team2_set1 = scoreboard1[1]; 
      scoreboard2 = scoreboard[1].split('/'); 
      team1_set2 = scoreboard2[0]; 
      team2_set2 = scoreboard2[1]; 
      set_current=2; 
    } 
    
    if (scoreboard.length==3) { 
      scoreboard3 = scoreboard[2].split('/'); 
      team1_set3 = scoreboard3[0]; 
      team2_set3 = scoreboard3[1]; set_current=3; 
    } 
  } 
  // 1 set 
  else { 
    if (game.infos.sets.indexOf('/')!=-1) { 
      scoreboard1 = game.infos.sets.split('/'); 
      team1_set1 = scoreboard1[0]; 
      team2_set1 = scoreboard1[1]; 
    } 
  } 
} 

if (game.dates.start !== undefined ) {  
	//game.dates.startConvert = new Date(game.dates.start);
    game.dates.startConvert = Date.fromString(game.dates.start);
	game.dates.startDate = game.dates.startConvert.getDate()+' '+game.dates.startConvert.getMonthName()+' '+game.dates.startConvert.getFullYear();
}
else
	game.dates.startDate = 'A venir';


if (game.status === "ongoing") game.status = i18n.t('game.ongoing');
else if (game.status === "finished") game.status = i18n.t('game.finished');
else if (game.status === "created") game.status = i18n.t('game.created');
 
%>
<li id="#games/<%= game.id %>">

<div class="ui-grid-a">
	<div class="ui-block-a game-location" style="width: 80%;"> 
    <%= game.dates.startDate %> - <%= game.location.city %> 
    <% 
      if (game.infos.tour !== "")  
        if (game.infos.tour > 0)     
         print(" - "+i18n.t("gameadd.select"+game.infos.tour))     
    %> 
	</div>
	<div class="ui-block-b game-status" style="width: 20%;">
	<%= game.status %>
	</div>
</div>

 <div class="ui-grid-d" style="margin-top:5px">
     <div class="ui-block-a game-player" style="width:63%;">
	<% 
	if (game.teams[0].players[0]!== undefined) { 
		print("<b>"+game.teams[0].players[0].name+"</b><br/>&nbsp;");
    
		print('<span class="div_score_mini">');
		print(game.teams[0].players[0].rank);	
		
		if (game.teams[0].players[0].club !== undefined) {	
		
			
		  if (game.teams[0].players[0].club.name.length>20)
		  	game.teams[0].players[0].club.name = game.teams[0].players[0].club.name.substr(0,19);		
		    print(' '+game.teams[0].players[0].club.name);	
		}	
		print('</span>');	
	}
	%>         
     </div>
     <div class="ui-block-b" style="width: 9%;"><span class="div_set_scoreboard"><%= team1_set1 %></span></div>
     <div class="ui-block-c" style="width: 9%;"><span class="div_set_scoreboard"><%= team1_set2 %></span></div>
     <div class="ui-block-d" style="width: 9%;"><span class="div_set_scoreboard"><%= team1_set3 %></span></div>
     <div class="ui-block-e" style="width:10%;"><span class="div_set_scoreboard div_set"><%= team1_sets %></span></div>
 </div>

 <div class="ui-grid-d" style="margin-top:5px">
     <div class="ui-block-a game-player" style="width:63%;">
	<% 
	if (game.teams[1].players[0]!== undefined) { 
		print("<b>"+game.teams[1].players[0].name+"</b><br/>&nbsp;");	
		print('<span class="div_score_mini">');
		print(game.teams[1].players[0].rank);	

		if (game.teams[1].players[0].club !== undefined) {
		
		
		  if (game.teams[1].players[0].club.name.length>20)
		  	game.teams[1].players[0].club.name = game.teams[1].players[0].club.name.substr(0,19);
		   print(' '+game.teams[1].players[0].club.name);	
		}
		print('</span>');		
	}
	%>         
     </div>
     <div class="ui-block-b" style="width: 9%;"><span class="div_set_scoreboard"><%= team2_set1 %></span></div>
     <div class="ui-block-c" style="width: 9%;"><span class="div_set_scoreboard"><%= team2_set2 %></span></div>
     <div class="ui-block-d" style="width: 9%;"><span class="div_set_scoreboard"><%= team2_set3 %></span></div>
     <div class="ui-block-e" style="width:10%;"><span class="div_set_scoreboard div_set"><%= team2_sets %></span></div>
 </div>
 
</li>
<% } %>
