<div class="content-container">
  <div class="indexViewTemplate">
   
    <div class="ui-grid-a searchbar">
      <div class="ui-block-a">
        <div class="input-search-background">
          <input type="search" class="mylib-forms" name="search" id="search-basic" value="" data-i18n="[placeholder]search.playerplaceholder;" />
        </div>
        <span class="button-search" style="">
        </span>
      </div>
      
    </div>

    <ul id="listPlayersView" class="ui-listview results"></ul>
  <div>
<div>

