<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="">

    <span class="success label label-info hide"></span>
    
    <div style="padding-top:10px;padding-bottom:10px;">
    <span data-i18n="search.introform"></span>    
    </div>

    <div class="ui-grid-a">
	  <div class="ui-block-a">
        <label class="form-label" data-i18n="search.geo"></label>
      </div>
	  <div class="ui-block-b">
        <input type="checkbox" name="searchgeo" value="checkbox">         
	  </div>
      <div class="ui-block-c">
      <span data-i18n="search.infogeo"></span>
      </div>    
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.myclub"></label> 
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchmyclub" value="checkbox">         
      </div>
      <div class="ui-block-c">
      <span data-i18n="search.infomyclub"></span>
      </div>
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.clubfollowed"></label> 
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchclubfollowed" value="checkbox">         
      </div>  
      <div class="ui-block-c">
      <span data-i18n="search.infoclubfollowed"></span>
      </div>
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.gamefollowed"></label>
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchgamefollowed" value="checkbox">         
      </div> 
      <div class="ui-block-c">
      <span data-i18n="search.infogamefollowed"></span>      
      </div>
      <div class="ui-block-a">
        <label class="form-label" data-i18n="search.playerfollowed"></label>
        </div>
      <div class="ui-block-b">
          <input type="checkbox" name="searchplayerfollowed" value="checkbox">         
      </div>    
      <div class="ui-block-c">
      <span data-i18n="search.infoplayerfollowed"></span>      
      </div>           
    </div> 
    
   

  </div>
</div>


