/*
  web fonts
  to be tested under Android/iOS.
*/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: /*#ifdef NOCORDOVA*/ url(/styles/webfonts/opensans-400.ttf) format(
		'truetype'), /*#endif*/ 
     url(styles/webfonts/opensans-400.ttf) format( 'truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: /*#ifdef NOCORDOVA*/ url(/styles/webfonts/opensans-700.ttf) format(
		'truetype'), /*#endif*/ 
     url(styles/webfonts/opensans-700.ttf) format( 'truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: /*#ifdef NOCORDOVA*/ url(/styles/webfonts/opensans-800.ttf) format(
		'truetype'), /*#endif*/ 
     url(styles/webfonts/opensans-800.ttf) format( 'truetype');
}
/* 
 disabled: bug on WP8
 @see http://stackoverflow.com/questions/14575208/using-css-font-face-in-a-phonegap-windows-phone-8-app
 maybe bug on android / iOS.
@font-face {
  font-family: 'Sosa';
  font-style: normal;
  font-weight: normal;
  src: url(/styles/webfonts/sosa-regular.woff) format('woff');
}
*/

/*******************
no connection
******************/
.offline {
	position:absolute;
  top: 0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#a0a0a0;
	-moz-opacity:0.38;
	opacity:0.38;
	filter:alpha(opacity=38);
	z-index: 20000;
	pointer-events: none;
  cursor: default;
}

/*******************
update the app
******************/
.update {
  background-color: #46b1dd;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 40px;
  
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
  text-align: center;
  
  filter: initial;
  opacity: initial;
  -moz-opacity: initial;
}

/**********************************************************
  mylib
**********************************************************/

img.undoSelect {
	cursor:pointer;
}

span.undoSelect {
	cursor:pointer;
}

input.mylib-forms {
	display: block;
	padding: 2px;
	border: solid 1px #ededed;
	outline: 0;
	background: #ededed;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-appearance: none;
}

input[type="password"] {
	color: #000;
	background: #fff;
	border: 0;
	border-radius: 12px;
	padding-left: 10px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="text"] {
	color: #000;
	background: #fff;
	border: 0;
	border-radius: 12px;
	padding-left: 10px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="text"][disabled] {
	background-color: #e4e4e4;
}

input:-ms-input-placeholder {
  color: #bdbdbd;
}

.button {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  cursor: pointer;
}

/* @see bug android 4.1 http://stackoverflow.com/questions/12694556/android-tap-highlight-jelly-bean */
* {
	-webkit-tap-highlight-color: transparent !important;
	-ms-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

*[data-input-mode="show"] {
  display: none;
}

/**********************************************************
	WP8 specifics.
**********************************************************/
@media screen and (orientation: portrait) {
	@-ms-viewport {
		width: 320px; /* should be device-width
                         but there is a bug in ie10 (puts screen resolution, not css resolution)
                         @see http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
                      */
		user-zoom: fixed;
		max-zoom: 1;
		min-zoom: 1;
	}
}

/**********************************************************
	GENERAL UI ELEMENTS
**********************************************************/
body {
	color: #000;
	background-color: white;
	margin: 0;
	padding: 0;
}

p {
	color: #000;
	font-family: Open Sans;
}

/**********************************************************
	INPUT MODE
**********************************************************/

body.inputmodeon *[data-input-mode="hide"] {
  display: none;
}

body.inputmodeon *[data-input-mode="show"] {
  display: block;
}

body.inputmodeon .button-form[data-input-mode="process"] {
  bottom: -50px;
}

/**********************************************************
	header
**********************************************************/
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 44px;
	z-index: 50; /* above content z-index=5 */
	color: #FFF;
	background-color: #19171c;
	border-bottom: 1px solid #535154;
}

#header .backButton {
	position: absolute;
	display: none; /* initial */
	/*opacity: 0; performance issues, disabled */
	top: 13px;
	left: 7px;
	width: 50px;
	height: 30px;
	z-index: 1000;
	cursor: pointer;
	/*transition: opacity 1s;  performance issues, disabled */
}

#header .backButton .triangle {
	width: 0;
	height: 0;
	border-right: 11px solid white;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
}

#header .logo {
	position: absolute;
	top: 8px;
	width: 100%;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 9px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #45b1db;
}

#header .title {
	position: absolute;
	top: 20px;
	width: 100%;
	/*font-family: Helvetica, Arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	color: white;
}

#header .connectionStatus {
	position: absolute;
	top: 15px;
	right: 13px;
}


/**********************************************************
	AUTOCOMPLETE
**********************************************************/
#autocomplete {
  position: fixed;
  z-index: 12;
  width: 100%;
  bottom: 54px;
  text-align: center;
}

#autocomplete div {
  float: left;
  border:  1px solid #d0ebf6;
  background-color: #46b1db;
  
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
  
  cursor: pointer;
}

/**********************************************************
	NAV BAR
**********************************************************/

/*
  navbar height is 42 :)
*/
#navbar {
	z-index: 11;
	height: 42px;
	position: fixed;
	bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	overflow: visible;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar>div {
	position: relative;
	display: inline-block;
	width: 33%; /* navbar splitted in 3 */
	height: 42px;
	bottom: 0px;
	overflow: visible;
	text-align: center;
}

/* background button design: rounded + trapeze */
#navbar .background.rounded {
	position: absolute;
	left: 50%;
	margin-left: -35px;
	width: 75px;
	height: 43px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #19171c;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar .background.trapeze {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -40px;
	width: 85px;
	height: 33px;
	border-bottom: 33px solid #19171c;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar a {
	position: absolute;
	left: 50%;
	width: 75px;
	height: 43px;
	margin-left: -35px;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 14px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar a:active {
	/* @see http://stackoverflow.com/questions/13529777/ie10-gray-square-on-click-in-windows-8 */
	background: inherit;
}

#navbar a.highlighted {
	color: #46c0e9;
}

/*
#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .selected{
  background-image:none; 
  color:#45b1db !important;
  font-weight:bold;
  font-size:12px;
  height:40px;
  width:78px;
  line-height:40px;
  text-transform:uppercase;
}


#navbar a:not(:last-of-type) {
  border-right:0px;
}*/

/**********************************************************
	BUTTON STYLES
**********************************************************/



/***
  pictos
  */
.button-filter {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	background: #46b1db;
	cursor: pointer;
}

.button-filter .oval {
	position: absolute;
	height: 3px;
	width: 14px;
	left: 8px;
	border-radius: 7px/3px;
	-moz-border-radius: 7px/3px;
	-webkit-border-radius: 7px/3px;
	background: white;
}

.button-filter .oval:nth-child(1) {
	top: 8px;
}

.button-filter .oval:nth-child(2) {
	top: 14px;
}

.button-filter .oval:nth-child(3) {
	top: 20px;
}


.button-option-up {
	width: 69px;
	height: 32px;
	background-image: url(images/button-option-up.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/button-option-up.png);
	/*#endif*/
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-option-down {
	width: 69px;
	height: 32px;
	background-image: url(images/button-option-down.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/button-option-down.png);
	/*#endif*/
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-option-right {
	width: 69px;
	height: 32px;
	background-image: url(images/button-option-right.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/button-option-right.png);
	/*#endif*/
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.button-search {
	/*font-family: 'Sosa', sans-serif;
  font-size: 20px;
  color: #5e5e5e;
  */
	width: 17px;
	height: 17px;
	background-image: url(images/ico-magnifier-glass.jpg);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/ico-magnifier-glass.jpg);
	/*#endif*/
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

/**********************************************************
	UL > LI 
**********************************************************/
ul {
	padding: 0;
	margin: 0;
}

ul>li {
	width: 100%;
	list-style: none;
	background: #fff;
	border-top: 1px solid #8c8c8e;
	height: 100px;
	cursor:pointer;
}

ul>li:first-child {
	border-top: 2px solid #c5c5c5;
}

ul>li>a {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid black;
	color: #000;
	padding-left: 4px;
}

ul>li.player {
	width: 100%;
	list-style: none;
	background: #fff;
	color: #0000;
	padding: 5px;
	border-top: 1px solid rgba(80, 80, 80, .5);
	height: 40px;
}

ul>li.club {
	width: 100%;
	list-style: none;
	background: #fff;
	color: #0000;
	padding: 5px;
	border-top: 1px solid rgba(80, 80, 80, .5);
	height: 40px;
}

ul>li.player>a {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid black;
	color: #000;
	line-height: 20px;
}

/**********************************************************
	CONTENT AREA
**********************************************************/
#content {
	z-index: 5;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content-container {
	padding-top: 44px; /* #header */
	padding-bottom: 42px; /* #navbar */
	padding-left: 10px;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#content>.background {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0px;
	left: 0px;
	padding: 0;
	margin: 0;
	z-index: -1;
}

.panel {
	
}

/**********************************************************
	FORM ELEMENTS
**********************************************************/


.success {
	display : none;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	font-family: Open Sans;
	font-weight: 700;
	line-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #0000;
	background-color: #d0ebf6;
	border-top: 1px solid #d0ebf6;
	border-left: 1px solid #a3d7ed;
	border-bottom: 1px solid #74c5e3;
	border-right: 1px solid #74c5e3;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

.form-button-black {
	margin-top: 15px;
	position: relative;
	height: 30px;
	width: 130px;
	margin-right: auto;
	margin-left: auto;
	line-height: 28px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
	background-color: #19171c;
	border-radius: 15px;
	cursor: pointer;
}

.form-button-white {
	margin-top: 15px;
	position: relative; height : 30px;
	width: 130px; margin-right : auto; margin-left : auto;
	line-height: 28px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #45b1db;
	background-color: #fff;
	border-radius: 15px;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	height: 30px;
}

/*****/

.blue-screen {
	/* we have to absolutly position this, because of content padding. */
	width: 100%;
}

.blue-screen.background {
	background-color: #45b1db;
}

.blue-screen.content-container {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.blue-screen .zone-list {
  background-color:#45b1db;  
  width:100%;
  min-height: 100%;
  padding: 9px;
  padding-bottom: 110px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.gameAdd .zone-list {
  background-color:#45b1db;  
  width:100%;
  min-height: 100%;
  padding: 9px;
  padding-bottom: 110px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.gameAdd.content-container {
	padding-bottom: 0px;
}

.gameAdd.background {
	background-color: #45b1db;
}


.form-label {
	padding-top: 8px;
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
}

.label-info {
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #ffff;
}

.form-radio-android * {
  vertical-align: middle;
}
.form-radio-android input {
  clear:left;
}
.form-radio-android label { 
  width:18px;
  display:inline-block;
}

/* */
.form-button {
	position: absolute;
	height: 30px;
	width: 100%;
	line-height: 28px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: white;
	background-color: #19171c;
	border-radius: 12px;
	cursor: pointer;
  
  -ms-user-select: none;
  -webkit-user-select: none;
}

.form-button.selected {
	color: #46c0e9;
}

.form-button {
	top: 0px;
}

.gameAdd .ui-grid-b .ui-block-a {
	width: 45%;
	height: 30px;
	padding-right: 10px;
}

.gameAdd .ui-grid-b .ui-block-b {
	width: 35%;
	padding-right: 10px;
}

.gameAdd .ui-grid-b .ui-block-c {
	width: 20%;
}

/* option formulaire simple */
.gameAdd .simple .ui-grid-b .ui-block-a,.gameAdd .ui-grid-b.me .ui-block-a
	{
	width: 80%;
}

.gameAdd .simple .ui-grid-b .ui-block-b,.gameAdd .ui-grid-b.me .ui-block-b
	{
	display: none;
	width: 0%;
	padding: 0;
}

.gameAdd .simple .ui-grid-b .ui-block-c,.gameAdd .ui-grid-b.me .ui-block-c
{
	width: 20%;
}

.gameAdd .simple .additionnal-options {
  display: none;
}



/**********************************************************
	TABLE
**********************************************************/
.ui-grid-a,.ui-grid-b,.ui-grid-c,.ui-grid-d {
	overflow: hidden
}

.ui-block-a,.ui-block-b,.ui-block-c,.ui-block-d,.ui-block-e,.ui-block-f
	{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.ui-grid-a .ui-block-a,.ui-grid-a .ui-block-b {
	width: 49.95%
}

.ui-grid-a>:nth-child(n) {
	width: 50%;
	margin-right: -.5px
}

.ui-grid-a .ui-block-a {
	clear: left
}

.ui-grid-b .ui-block-a,.ui-grid-b .ui-block-b,.ui-grid-b .ui-block-c {
	width: 33.25%
}

.ui-grid-b>:nth-child(n) {
	width: 33.333%;
	margin-right: -.5px
}

.ui-grid-b .ui-block-a {
	clear: left
}

.ui-grid-c .ui-block-a,.ui-grid-c .ui-block-b,.ui-grid-c .ui-block-c,.ui-grid-c .ui-block-d
	{
	width: 24.925%
}

.ui-grid-c>:nth-child(n) {
	width: 25%;
	margin-right: -.5px
}

.ui-grid-c .ui-block-a {
	clear: left
}

.ui-grid-d .ui-block-a,.ui-grid-d .ui-block-b,.ui-grid-d .ui-block-c,.ui-grid-d .ui-block-d,.ui-grid-d .ui-block-e
	{
	width: 19.925%
}

.ui-grid-d>:nth-child(n) {
	width: 20%
}

.ui-grid-d .ui-block-a {
	clear: left
}

/**********************************************************
	SCOREBOARD
**********************************************************/
.div_set_scoreboard {
	position: absolute;
	right: 0px;
	text-align: center;
	z-index: 1;
	color: #000;
	display: inline-block;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	height: 20px;
	width: 19px;
	text-overflow: ellipsis;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-image: none;
	background: #e3e3e3;
}

.div_set_grey {
	color: #7C7C7E;
}

.div_score_mini {
	font-weight: normal;
	font-size: 10px;
}

.div_score_mini_legend {
	font-weight: normal;
	font-size: 10px;
	color: #fff;
	text-align: center;
}

.div_score_player {
	font-weight: bold;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}

.div_set {
	font-weight: normal;
	color: #000;
}

#ifrmScore {
	width: 94%;
	margin: 0 auto;
	background-color: #fff;
}

.button_bottom {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	width: 90px;
	height: 44px;
	z-index: 1;
	color: #fff;
	background-image: none;
	background-color: #45b1db;
	font-size: 14px;
	font-weight: bold;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}

.button_comment {
	width: 90%;
	height: 40px;
	padding-top: 10px;
	z-index: 1;
	color: #fff;
	background-image: none;
	background-color: #40c68f;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/**********************************************************
	Templates
**********************************************************/

/* player.html */
.info.background {
	background-color: #fff;
}

.info.content-container {
	padding-bottom: 0px;
}

.logoPlayer {
	
}

.titlePlayer {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #000;	
}

/* club.html */


/* playerForm.html */
.button-form {
	position: fixed;
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 87px; /* default = 87*/
	/* performance issues, disabled */
	/*
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  */
}

.button-form .background.rounded {
	position: absolute;
	left: 12px;
	right: 12px;
	height: 87px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #e4e4e4;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.button-form .background.trapeze {
	position: absolute;
	top: 15px;
	left: 0%;
	width: 100%;
	height: 33px;
	border-bottom: 72px solid #e4e4e4;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.link-form {
	position: absolute;
	width: 100%;
	/* On place au centre */
	bottom: 65px;
	text-align: center;
	line-height: 14px;
}

.link-form .button {
	width: 122px;
	height: 34px;
	margin: auto;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #46b1dd;
	border: 1px solid #74c5e3;
	color: #fff;
	cursor: pointer;
}

.link-form .button-selected {
	width: 122px;
	height: 34px;
	margin: auto;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #f2734c;
	border: 1px solid #f2734c;
	color: #fff;
	cursor: pointer;
}

.link-form .button.send {
  background-color:#41c68f;
  border: 1px solid #96e1c3;
}


.link-form .button.send.ko {
  background-color: #f2734c;
	border: 1px solid #f2734c;
}

.link-form .disabled {
	pointer-events: none;
	cursor: default;
	color: #0000;
}

/*
  indexViewTemplate.html
*/
.indexViewTemplate {
	padding: 0px;
	padding-left: 3px;
	padding-right: 3px;
}

/* search */
.indexViewTemplate>.search {
	width: 100%;
	height: 24px;
	text-align:center;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 12px;
	white-space: nowrap;
	padding-top:10px;
}

.indexViewTemplate>.search .ui-block-a{
	border-right: 2px solid #c5c5c5;
}

.indexViewTemplate>.search .ui-block-b{
	border-right: 2px solid #c5c5c5;
	padding-left:2px;	
	padding-right:2px;
}

.indexViewTemplate>.search .ui-block-c{
	border-right: 2px solid #c5c5c5;
	padding-left:2px;		
	padding-right:2px;
}


/* layout grille */
.indexViewTemplate>.ui-grid-a {
	width: 100%;
	height: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-grid-a.searchbar>.ui-block-a {
	position: relative;
	width: 75%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #ededed;
}

.ui-grid-a.searchbar>.ui-block-b {
	width: 25%;
	padding-left: 5px;
}

/* search bar */
.indexViewTemplate .input-search-background {
	width: 100%;
	padding-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.indexViewTemplate .input-search-background input.mylib-forms {
	width: 100%;
	height: 32px;
}

.indexViewTemplate .button-search {
	position: absolute;
	right: 5px;
	top: 8px;
	/* should be magnifier glass @see http://tenbytwenty.com/?xxxx_posts=sosa */
}

/* filter button */
.indexViewTemplate .button-filter {
	position: absolute;
	right: 0;
}

/* filter links */
.indexViewTemplate .searchbar {
	position: relative;
	overflow: visible;
	z-index: 20;
}

.indexViewTemplate .results {
	position: relative;
	z-index: 10;
}

.indexViewTemplate .results .message {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.ui-grid-a .menu-options>.ui-block-a {
	width: 60%;
}

.ui-grid-a .menu-options>.ui-block-b {
	width: 40%;
	padding-left: 3px;
}



.indexViewTemplate .filters .title-menu {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*text-decoration:underline;*/
	padding-bottom:8px;
	padding-left: 30px;	
}

.indexViewTemplate .filters a.disabled {
	color: #b0b0b0;
	pointer-events: none;
	cursor: default;
}



.indexViewTemplate .filters {
	display: none; /* default=invisible */
	position: absolute;
	left : 4px;
	top:44px;
	width: 99%;
	height: 130px;
	background-color: #ededed;
	-webkit-bottom-right-radius: 10px;
	-webkit-bottom-left-radius: 10px;	
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #44b1da;
	padding-top:2px;	
	padding-left:3px;
	padding-right:3px;
}

.indexViewTemplate .filters .separator {
	position: absolute;
	top: 34px;
	left: 55%;
	height: 94px;
	width:2px;
	border-right: 2px solid #44b1da;
}

.indexViewTemplate .filters a {
	display: block;

	height: 26px;
	line-height: 26px;
	width: 100%;

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #0000;
	cursor: pointer;
	/*padding: 2px 0px 2px 60px;*/
	padding-bottom:5px;
}

.filters a[data-filter^='match'] {
	
}


.filters a[data-filter='match-geo'] {
	background-image: url(images/ico-match-geo.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/ico-match-geo.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;
}

.filters a[data-filter='match-not'] {
	background: url(images/icon-match-nofilter.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/icon-match-nofilter.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;
}

.filters a[data-filter='match-club'] {
	background: url(images/ico-match-club.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/ico-match-club.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;	
}

.filters a[data-filter^='filter'] {

}

.filters a[data-filter='filter-date'] {
	background: url(images/ico-filter-date.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/ico-filter-date.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;
}

.filters a[data-filter='filter-location'] {
	background: url(images/ico-match-city.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/ico-match-city.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;
}

.filters a[data-filter='filter-club'] {
	background: url(images/ico-match-club.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/ico-match-club.png) ;
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;	
}

.filters a[data-filter='filter-status'] {
	background: url(images/ico-filter-status.png);
	/*#ifdef NOCORDOVA*/
	background: url(/images/ico-filter-status.png);
	/*#endif*/
	padding-left: 30px;
	background-size:26px 26px;
    background-repeat: no-repeat;	
    background-position: left center;	
}

.search a.select {
	color:#44b1da;
	font-weight: bold;
}

/* playerlist.html */
#listPlayersView .game-player {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 14px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#listPlayersView .infos {
	font-family: Open Sans;
	font-size: 10px;
	line-height: 10px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
}

/* clubList.html */
#listClubsView .game-player {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 14px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#listClubsView .infos {
	font-family: Open Sans;
	font-size: 10px;
	line-height: 10px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
}

/* playerList.html */
#listPlayersView .game-player {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 14px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#listPlayersView .infos {
	font-family: Open Sans;
	font-size: 10px;
	line-height: 10px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
}

/* gameListViewTemplate.html */
#listGamesView li {
	height: 87px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#listGamesView li:hover {
	background-color: #fafafa;
}

#listGamesView .game-location {
	display: block;
	/* text-overflow: ... can only apply on block elements */
	padding-right: 10px;
	color: #44b1da;
	text-decoration: none;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	/* trunk text */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#listGamesView .game-status {
	color: #44b1da;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	/* trunk text */
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#listGamesView .game-player {
	font-family: Open Sans;
	font-size: 12px;
	line-height: 10px;
	/* trunk text */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* index.html */
.index {
	padding: 0;
	padding-left: 1px;
	padding-right: 1px;
}

.index .ui-grid-a {
	display: block;
	cursor: pointer;
	width: 100%;
	height: 100px;
	margin-top: 15px;
	background-color: #46b1db;
	border-top: 1px solid #d0ebf6;
	border-left: 1px solid #a3d7ed;
	border-bottom: 1px solid #74c5e3;
	border-right: 1px solid #74c5e3;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
}

.index .ui-grid-a a {
	padding-top: 30px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 22px;
	color: white;
	word-wrap: break-word;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* account.html */



.account {
	padding: 0;
	padding-left: 1px;
	padding-right: 1px;
}

.account a {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: Open Sans;
	font-weight: 700;
	line-height: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	background-color: #46b1db;
	border-top: 1px solid #d0ebf6;
	border-left: 1px solid #a3d7ed;
	border-bottom: 1px solid #74c5e3;
	border-right: 1px solid #74c5e3;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.account a.buttonGrey {
	background-color: #b0b0b0;
	border: 1px solid #c0c0c0;
}

.account a.sendButton.ok { background-color: #46b1db; border: 1px solid #41c68f;pointer-events: none;cursor: default; }
.account a.sendButton.ko { background-color: #f2734c; border: 1px solid #f2734c; }


.account a[disabled] {
	background-color: #b0b0b0;
	border: 1px solid #c0c0c0;
	pointer-events: none;
	cursor: default;
}

.account a.warning {
	background-color: #ff6868;
	border: 1px solid #ff6868;
	/*font-size: 10px;
  line-height: 12px;
  white-space: normal;*/
}

.account a:last-child {
	margin-bottom: 10px;
}

/* game.html */
.undoAction {
	cursor:pointer;
}

.game {
	padding-left: 3px;
	padding-right: 3px;
}

.game .infobar {
	height: 53px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.game .infobar .header>div {
	padding-top: 5px;
	border-right: 1px dotted #adadad;
	text-align: center;
	height: 25px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.game .infobar .header>div:last-child {
	border-right: none;
}

.game .infobar .text {
	margin-top: 1px; /* just for dashed border :p */
}

.game .infobar .text>div {
	border-right: 1px dotted #adadad;
	text-align: center;
	font-size: 10px;
	font-family: Open Sans;
	height: 28px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.game .infobar .text>div:last-child {
	border-right: none;
}

/*.game .infobar .text */
.timer {
	font-size: 12px;
	font-family: Open Sans;
	font-weight: bold;
}

.game .socialbar {
	width: 100%;
	height: 44px;
	padding: 0;
	padding-top: 5px;
}

.game .socialbar .ui-grid-b {
	height: 100%;
}


.game .socialbar .button {
	display: table;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: #46b1dd;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #74c5e3;
	cursor: pointer;
}

.game .socialbar .ko { 
	background-color: #f2734c; 
	border: 1px solid #f2734c; 
}

.game .socialbar .buttonSpecial {
	display: table;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: #46b1dd;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #74c5e3;
}

.game .socialbar .share {
	/*text-align: center;*/
	
}

.game .socialbar .button a {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-family: Open Sans;
	font-weight: 700;
	color: white;
	/* hack, pour monter legerement le texte */
	top: -2px;
	position: relative;
}


.game .socialbar .buttonSpecial span {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-family: Open Sans;
	font-weight: 700;
	color: white;
	/* hack, pour monter legerement le texte */
	top: -2px;
	position: relative;
}

.serverbar {
	width: 100%;
	height: 44px;
	padding: 0;
	padding-top: 5px;
}

.serverbar .ui-grid-b {
	height: 100%;
}


.serverbar .button {
	display: table;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: #46b1dd;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #74c5e3;
	cursor: pointer;
}

.serverbar .select { 
	background-color: #f2734c; 
}


.serverbar .button a {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-family: Open Sans;
	font-weight: 700;
	color: white;
	/* hack, pour monter legerement le texte */
	top: -2px;
	position: relative;
}

.serverbar .question {
	display: table;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.serverbar label {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-family: Open Sans;
	font-weight: 700;
	color: #0000;
}

.game .facebook {
	width: 42px;
	height: 42px;
	margin: auto;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #46b1dd;
	border: 1px solid #74c5e3;
	cursor: pointer;
}

.game .facebook .message {
  display: none;
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.game .facebook img {
	position: relative;
	top: 9px;
	left: 15px;
}


.game .facebook.ok { background-color: #41c68f; border: 1px solid #41c68f; }
.game .facebook.ko { background-color: #f2734c; border: 1px solid #f2734c; }

.game .facebook.ok .message.ok { display: block; }
.game .facebook.ok .message.ko { display: none; }
.game .facebook.ok img { display: none; }

.game .facebook.ko .message.ok { display: none; }
.game .facebook.ko .message.ko { display: block; }
.game .facebook.ko img { display: none; }

.scoreBoard {
	background-color: #45b1db;
	border-left: 1px solid #a3d7ed;
	border-right: 1px solid #d0ebf6;
	border-bottom: 1px solid #d0ebf6;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.scoreBoard .playerInfos {
	text-align: center;
}

.scoreBoard .player-info {
	display:block;
	float:right;
	width:25px;
	height:25px;
	cursor:pointer;
	background-image: url(images/info-player.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/info-player.png);
	/*#endif*/	
	
	background-size: 100%;
	background-repeat: no-repeat;
}



.scoreBoard .playerInfos .other {
	line-height: 10px;
	height: 11px;
	/* allow empty scoreboard height to equal full scoreboard */
}


.server-ball {
	width:25px;
	height:25px;
	background-image: url(images/ball.png);
	/*#ifdef NOCORDOVA*/
	background-image: url(/images/ball.png);
	/*#endif*/	
	background-size: 100%;
	background-repeat: no-repeat;	
}


.scoreBoard .playerInfos .player-name {
	display: block;
	color: #000;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
}



.scoreBoard .playerInfos .club {
	font-family: Open Sans;
	font-size: 10px;
}

.scoreBoard .playerInfos .player-rank {
	font-family: Open Sans;
	font-size: 10px;
}



.scoreBoard .score-grid {
	position: relative;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 13px;
}

.scoreBoard .score-grid .ui-grid-c .ui-block-a,.scoreBoard .score-grid .ui-grid-c .ui-block-b,.scoreBoard .score-grid .ui-grid-c .ui-block-c,.scoreBoard .score-grid .ui-grid-c .ui-block-e
	{
	width: 24%;
	margin-right: -.5px
}

.scoreBoard .score-grid .ui-grid-c .ui-block-d {
	width: 4%;
	margin-right: -.5px
}

.scoreBoard .score-grid .legend {
	color: white;
	font-family: Open Sans;
	font-size: 10px;
	text-align: center;
}

.scoreBoard .score-grid .separator {
	position: absolute;
	top: 15px;
	left: 73%;
	height: 96px;
	border-right: 2px dotted #ddf1f8;
}

.scoreBoard .score-grid .score {
	width: 46px;
	height: 46px;
	margin-left: auto;
	margin-right: auto;
	line-height: 45px; /* default should be 48 */
	text-align: center;
	color: #000;
	background-color: white;
	border: 1px solid 75c4e2;
	font-family: Open Sans;
	font-size: 28px;
	font-weight: 800;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.scoreBoard .score-grid .score.ongoing {
	color: #7b7c7e;
}

.scoreBoard .score-grid .score.sets {
	font-weight: normal;
}

.scoreBoard .scoreButton {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-top: 8px;
	height: 48px;
	width: 48px;
	color: #000;
	background-color: #fff;
}

.button-comments {
	position: fixed;
	left: 0px;
	width: 100%;
	bottom: 0px;
	height: 87px; /* default = 87*/
	overflow: hidden;
	/* performance issues, disabled
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  */
	cursor: pointer;
}

.button-comments .background.rounded {
	position: absolute;
	left: 12px;
	right: 12px;
	height: 87px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #41c68f;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.button-comments .background.trapeze {
	position: absolute;
	top: 15px;
	left: 0%;
	width: 100%;
	height: 33px;
	border-bottom: 72px solid #41c68f;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.button-comments .link-comments {
	position: absolute;
	width: 100%;
	top: 13px;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 14px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**********************************************************
	COMMENT
**********************************************************/
.comments {
	/* we have to absolutly position this, because of content padding. */
	width: 100%;
}

.comments .zone-score {
	position:fixed;
	top:44; left:0;
	width:100%;
}

.comments.background {
	background-color: #41c68f;
}



.comments.content-container {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.comments .ui-grid-a {
	background-color: white;
}

.comments .ui-block-a.colTimer {
	width: 25%;
	text-align: center;
	padding-top: 6px;
}

.comments .ui-block-b.players {
	width: 75%;
	border-left: 1px dotted #cdcdcd;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.comments .player-infos {
	height: 26px;
	padding: 2px;
	padding-right: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.comments .player-infos:nth-child(1) {
	border-bottom: 1px dotted #cdcdcd;
}

.comments .player-name {
	padding-left: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
}

.comments .zone-list {
  background-color:#41c68f;  
  width:100%;
  min-height: 100%;
  padding: 9px;
  padding-top:54px;
  padding-bottom: 110px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.list-comment-title {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
}

.list-comment {
	margin-top: 9px;
	background-color: #fff;
	text-align: left;
	color: #000;
	width: 100%;
}

.infocomment {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7b797a;
}

.infocomment .player-name {
	font-weight: bold;
	padding: 0;
}

.comment {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	border-bottom: 1px dotted #9c9e9d;
	padding: 5px;
	padding-bottom: 0px;
	clear: both;
	-webkit-user-select: text; /* Chrome all / Safari all */
	-moz-user-select: text; /* Firefox all */
	-ms-user-select: text; /* IE 10+ */
	user-select: text;
}

.comment .links {
	height: 20px;
	font-size: 10px;
}

.warnComment,.deleteComment {
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.warnComment {
	color: #740000;
}

.textarea-border {
	width: 100%;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.textarea-comment {
  -webkit-appearance:caret;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  font-size:12px;
  padding: 5px;
  margin: 0;
  width:100%;
  height:100px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}

.textarea-comment:focus {
	outline: 0px none transparent;
	-webkit-appearance: caret;
	-moz-appearance: caret;
	border: 0;
}

/**********************************************************
	Bootstrap failure
**********************************************************/
.button.retry {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color:#41c68f;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
