  <!-- this is the header div at the top -->
     
  <div class="content-container">
   
  <div class="ltcol">   
  

  </div>    
   
      
  <div class="game">
  
    <div id="scoreBoard"></div>
  
    <!--
      LISTCOMMENTS
    -->     
   <div class="commentBoard">  
     <div class="list-comment-title" data-i18n="gamecomment.title"></div> 
     
     <div class="textarea-border">
        <textarea rows="10" cols="40" class="textarea-comment" id="messageText" placeHolder="Ecrire un commentaire"></textarea>
     </div>
     
     <div class="form-button-black"> 
       <span class="button send" data-i18n="gamecomment.send"></span>
     </div>
     
     <div class="zone-list">
          <div class="list-comment"></div>
      </div>
     
    </div>
   
   </div>  
   
  <div class="clear"></div>
  
  </div>
  
