  <!-- this is the header div at the top -->
     
  <div class="content-container content-game">
   
  <div class="col col-lt">   
  
    <div class="ui-grid-a">
      <div class="ui-block-a" style="width: 20%;">
      <img src="/static/images/club-pic.jpg" width="40px" height="40px" />
      </div>
      <div class="ui-block-b" style="width: 80%;valign:top;">
      <div class="game-player"><%= club.name %></div>
      <div class="city"><%= club.location.city %></div>
      </div>
    </div>     
    <hr/>
    <b data-i18n="club.outdoor"></b> : <%= club.outdoor %>
    <hr/>
    <b data-i18n="club.indoor"></b> : <%= club.indoor %>
    <hr/>
    <b data-i18n="club.countPlayers"></b> : <%= club.countPlayers %>
    <hr/>
    <b data-i18n="club.countTeams"></b> : <%= club.countTeams %>

    <br/><br/><br/>
    
    <span class="title1">LES MATCHS</span>
    <ul id="listMatchClubs"></ul>
  </div>    
   
      
  <div class="col col-game">
    <div class="game">
      <div id="scoreBoard"></div>
    
      <!--
        LISTCOMMENTS
      -->     
      <div class="commentBoard">  
        <div class="list-comment-title" data-i18n="gamecomment.title"></div> 
        
        <div class="textarea-border">
            <textarea rows="10" cols="40" class="textarea-comment" id="messageText" placeHolder="Ecrire un commentaire"></textarea>
        </div>
        
        <div class="form-button-black"> 
          <span class="button send" data-i18n="gamecomment.send"></span>
        </div>
        
        <div class="zone-list">
              <div class="list-comment"></div>
          </div>
        
        </div>
      
      </div>  
    
      <div class="clear"></div>

    </div>
  </div>
  
