<div class="ui-grid-a">
          <div class="ui-block-a">
            <div class="form-label" data-i18n="gameadd.court"></div>
          </div>
          <div class="ui-block-b">
            <div class="form-label" data-i18n="gameadd.tour"></div>
          </div>
          <div class="ui-block-a" style="padding-right:5px;">
            <select name="court" id="court" style="width:100%" visible="true">
              <option value=""><%= selection %></option>
              <option value="1"><%= surface %> 1</option>
              <option value="2"><%= surface %> 2</option>
              <option value="3"><%= surface %> 3</option>
              <option value="4"><%= surface %> 4</option>
              <option value="5"><%= surface %> 5</option>
              <option value="6"><%= surface %> 6</option>
              <option value="7"><%= surface %> 7</option>
              <option value="8"><%= surface %> 8</option>
              <option value="9"><%= surface %> 9</option>
              <option value="10"><%= surface %> 10</option>
              <option value="11"><%= surface %> 11</option>
              <option value="">---</option>
              <option value="A"><%= surface %> A</option>
              <option value="B"><%= surface %> B</option>
              <option value="C"><%= surface %> C</option>
              <option value="D"><%= surface %> D</option>
              <option value="E"><%= surface %> E</option>
              <option value="F"><%= surface %> F</option>
            </select>
          </div>
          <div class="ui-block-b" style="padding-left:5px;">
            <select name="tour" id="tour" style="width:100%" visible="true">
                      <option value="1" data-i18n="gameadd.poule"></option>
                      <option value="2" data-i18n="gameadd.consolante"></option>
                      <option value="3" data-i18n="gameadd.select1"></option>
                      <option value="4" data-i18n="gameadd.select2"></option>
                      <option value="5" data-i18n="gameadd.select3"></option>
                      <option value="6" data-i18n="gameadd.select4"></option>
                      <option value="7" data-i18n="gameadd.select5"></option>
                      <option value="8" data-i18n="gameadd.select6"></option>
                      <option value="9" data-i18n="gameadd.select7"></option>
                      <option value="10" data-i18n="gameadd.select8"></option>
                      <option value="11" data-i18n="gameadd.select9"></option>
                      <option value="12" data-i18n="gameadd.select10"></option>
                      <option value="13" data-i18n="gameadd.select11"></option>
                      <option value="14" data-i18n="gameadd.select12"></option>
                      <option value="15" data-i18n="gameadd.select13"></option>
                      <option value="16" data-i18n="gameadd.select14"></option>
                      <option value="17" data-i18n="gameadd.select15"></option>
                      <option value="18" data-i18n="gameadd.select16"></option>
                      <option value="19" data-i18n="gameadd.select17"></option>
                      <option value="20" data-i18n="gameadd.select18"></option>
                      <option value="21" data-i18n="gameadd.select19"></option>
                      <option value="22" data-i18n="gameadd.select20"></option>
                      <option value="23" data-i18n="gameadd.select21"></option>
                      <option value="24" data-i18n="gameadd.select22"></option>
                      <option value="25" data-i18n="gameadd.select23"></option>
                      <option value="26" data-i18n="gameadd.select24"></option>
                      <option value="27" data-i18n="gameadd.select25"></option>
                      <option value="28" data-i18n="gameadd.select26"></option>
                      <option value="29" data-i18n="gameadd.select27"></option>
                      <option value="30" data-i18n="gameadd.select28"></option>
            </select>
          </div>
        </div>

        <div class="ui-grid-a">
          <div class="ui-block-a">
                  <div class="form-label" data-i18n="gameadd.surface"></div>
          </div>
          <div class="ui-block-b">
                  <div class="form-label" data-i18n="gameadd.official"></div>
          </div>
          <div class="ui-block-a" style="padding-right:5px;">
              <select name="surface" id="surface" style="width:100%" visible="true">
                <option value=""><%= selection %></option>
                <option value="BP" data-i18n="gameadd.surface_bp"></option>
                <option value="EP" data-i18n="gameadd.surface_ep"></option>
                <option value="EPDM" data-i18n="gameadd.surface_epdm"></option>
                <option value="GAS" data-i18n="gameadd.surface_gas"></option>
                <option value="GAZ" data-i18n="gameadd.surface_gaz"></option>
                <option value="MOQ" data-i18n="gameadd.surface_moq"></option>
                <option value="NVTB" data-i18n="gameadd.surface_nvtb"></option>
                <option value="PAR" data-i18n="gameadd.surface_par"></option>
                <option value="RES" data-i18n="gameadd.surface_res"></option>
                <option value="TB" data-i18n="gameadd.surface_tb"></option>
              </select>
            </div>
                <div class="ui-block-b" style="padding-right:1px;">
                  <select name="competition" id="competition" style="width:100%" visible="true">
                    <option value="yes" data-i18n="gameadd.yes"></option>  
                    <option value="no" data-i18n="gameadd.no"></option>                       
                   </select>             
                </div>
            </div>