<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple">
  
    <span class="success label label-info hide"></span>
    
	<div>
		<label data-i18n="gameend.saveprivate"></label>
		<textarea id="privateNote" name="privateNote" class="jq-ui-forms"></textarea>
		<span class="privateNote_error label label-info hide"></span>
	</div>

	<div>
		<label data-i18n="gameend.savefb"></label>
		<textarea id="fbNote" name="fbNote" class="jq-ui-forms"></textarea>
		<span class="fbNote_error label label-info hide"></span>
	</div>

  </div>
</div>


<!--
  COMMENT SAVE
-->
<div class="button-form" data-input-mode="hide">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" data-i18n="gameend.finish"></div></div>  
</div>
