<!-- template game-infobar.html -->
<div class="infobar">
  <!-- icons -->
  <div class="ui-grid-d header">
    <div class="ui-block-a">
      <img src="/static/images/chrono.png" width="15" height="19" style="margin-top:1px;">
    </div>
    <div class="ui-block-b">
      <img src="/static/images/calendar.png" width="17" height="20">
    </div>
    <div class="ui-block-c">
      <img src="/static/images/house.png" width="21" height="19">
    </div>
    <div class="ui-block-d">
      <img src="/static/images/eye.png" width="20" height="12" style="margin-top:4px;">
    </div>
    <div class="ui-block-e">
    
      <img src="/static/images/people.png" width="24" height="18">
                      
    </div>
  </div>
  <!-- infos -->
  <div class="ui-grid-d text">
    <div class="ui-block-a">
      <span class="timer"><span data-var="timer"></span></span>
    </div>
    <div class="ui-block-b">
    <b>
    <span data-var="startDate"></span> - <span data-var="startTime"></span>
    </b>
    </div>
    <div class="ui-block-c">
    <b><span data-var="city"></span></b>
    </div>
    <div class="ui-block-d">
    <b>
    <span data-var="status"></span>
    </b>
    </div>
    <div class="ui-block-e">
    
    <b><span data-i18n="game.spectators"></span></b>
    
    </div>
  </div>
</div>