<% 
  var team1_set1 = '&nbsp;'; 
  var team1_set2 = '&nbsp;'; 
  var team1_set3 = '&nbsp;';
  var team2_set1 = '&nbsp;'; 
  var team2_set2 = '&nbsp;'; 
  var team2_set3 = '&nbsp;';
  var set_current = 1; 
  var team1_sets = '0'; 
  var team2_sets = '0'; 

  if (game) {
    if (game.infos.score !== null ) { 
      if(game.infos.score.indexOf('/')!=-1) { 
        scoreboard = game.infos.score.split('/'); 
        team1_sets = scoreboard[0]; 
        team2_sets = scoreboard[1]; 
        } 
    } 
  
    if (game.infos.sets !== null ) { 
      if (game.infos.sets.indexOf(';')!=-1) { 
        scoreboard = game.infos.sets.split(';'); 
    
        if (scoreboard.length==2 ||scoreboard.length==3) { 
          scoreboard1 = scoreboard[0].split('/');
          team1_set1 = scoreboard1[0]; 
          team2_set1 = scoreboard1[1]; 
          scoreboard2 = scoreboard[1].split('/'); 
          team1_set2 = scoreboard2[0]; 
          team2_set2 = scoreboard2[1]; 
          set_current=2; 
        } 
    
        if (scoreboard.length==3) { 
          scoreboard3 = scoreboard[2].split('/'); 
          team1_set3 = scoreboard3[0]; 
          team2_set3 = scoreboard3[1]; set_current=3; 
        } 
      } 
      // 1 set 
      else { 
        if (game.infos.sets.indexOf('/')!=-1) { 
          scoreboard1 = game.infos.sets.split('/'); 
          team1_set1 = scoreboard1[0]; 
          team2_set1 = scoreboard1[1]; 
        } 
      } 
    } 
  } else {
    // FIXME: moving the loading stuff in a dedicated place.
    // FIXME: use l18n
    game = {
      teams: [
        { players: [ { name: "Please wait, loading..." } ] },
        { players: [ { name: "" } ] }
      ]
    };
  }
%>

<div class="ui-grid-a">
  <div class="ui-block-a colTimer" style="">
  <img src="./images/chrono.png" width="15" height="19"><br/>
  <span class="timer"><%= timer %></span>
  </div>
  <div class="ui-block-b players">
  
      <div class="ui-grid-d player-infos">
     
          <div class="ui-block-a player-name" style="width:58%;">
    	<% 
    	if (game.teams[0].players[0]!== undefined) { 
    		print('<b>'+game.teams[0].players[0].name+'</b>&nbsp;<b class="server1">&nbsp;&nbsp;&nbsp;</b><br/>');
    	}
    	%>         
          </div>
          <div class="ui-block-b" style="width: 10%;"><span class="div_set_scoreboard"><%= team1_set1 %></span></div>
          <div class="ui-block-c" style="width: 10%;"><span class="div_set_scoreboard"><%= team1_set2 %></span></div>
          <div class="ui-block-d" style="width: 10%;"><span class="div_set_scoreboard"><%= team1_set3 %></span></div>
          <div class="ui-block-e" style="width: 2%;"></div>
          <div class="ui-block-f" style="width: 10%;"><span class="div_set_scoreboard div_set"><%= team1_sets %></span></div>
      </div>
    
    <!-- 
    style="padding-bottom:3px;"
      -->
      <div class="ui-grid-d player-infos">
     
          <div class="ui-block-a player-name" style="width:58%;">
    	<% 
    	if (game.teams[1].players[0]!== undefined) { 	
            print('<b>'+game.teams[1].players[0].name+'</b>&nbsp;<b class="server2">&nbsp;&nbsp;&nbsp;</b><br/>');    			
    	}
    	%>         
          </div>
          <div class="ui-block-b" style="width: 10%;"><span class="div_set_scoreboard"><%= team2_set1 %></span></div>
          <div class="ui-block-c" style="width: 10%;"><span class="div_set_scoreboard"><%= team2_set2 %></span></div>
          <div class="ui-block-d" style="width: 10%;"><span class="div_set_scoreboard"><%= team2_set3 %></span></div>
          <div class="ui-block-e" style="width: 2%;"></div>
          <div class="ui-block-f" style="width: 10%;"><span class="div_set_scoreboard div_set"><%= team2_sets %></span></div>
      </div>
  </div>
</div>