<div class="content-container">
  <div class="indexViewTemplate">
    <div class="ui-grid-a searchbar">
      <div class="ui-block-a">
        <div class="input-search-background">
          <input type="search" class="mylib-forms" name="search" id="search-basic" value="" data-i18n="[placeholder]search.gameplaceholder;" />
        </div>
        <span class="button-search" style=""><!-- magnifier glass @see http://tenbytwenty.com/?xxxx_posts=sosa --></span>
      </div>
            
      <% if (button === true) { %>
      <div class="ui-block-b">
        <div class="button-option-right"></div>
      </div>
      <!-- 
      <div class="filters">
            
        <div class="ui-grid-a menu-options">
          <div class="ui-block-a">
            <div class="title-menu">FILTRE :</div>         
            <a data-filter="match-all" data-i18n="search.filtermatchall" id="filter-match-all"></a>           
            <a data-filter="match-geo" data-i18n="search.filtermatchgeo" id="filter-match-geo"></a>
            <a data-filter="match-club" data-i18n="search.filtermatchclub" id="filter-match-club"></a>
          </div>
          <div class="ui-block-b">
	        <div class="title-menu">ETAT :</div>         
	        <a data-filter="filter-date" data-i18n="search.filterstatusall" id="filter-statut-all"></a>
	        <a data-filter="filter-location" data-i18n="search.filterlocation" id="filter-location"></a>         
            <a data-filter="filter-status" data-i18n="search.filterstatus" id="filter-status"></a>  
          </div>
          <div class="separator"></div>
        </div>
    
       </div>
        -->
        
       <% } 
       else { %>
      <div class="ui-block-b">
        <span class="form-button refresh" data-i18n="gameadd.refresh"></span>
      </div>             
       <% } %>
       
       
       
    </div>
    
    <div class="ui-grid-c search">
      <div class="ui-block-a">
        <a data-filter="filter-status-all" data-i18n="search.filterstatusall"></a>
      </div>
      <div class="ui-block-b">
        <a data-filter="filter-status-ongoing" data-i18n="search.filterstatusongoing"></a>
      </div>
      <div class="ui-block-c">
        <a data-filter="filter-status-finished" data-i18n="search.filterstatusfinished"></a>
      </div>
      <div class="ui-block-d">
        <a data-filter="filter-status-created" data-i18n="search.filterstatuscreated"></a>
      </div>
    </div>  
    
    
    <ul id="listGamesView" class="ui-listview results"></ul>
  <div>
<div>