<!-- template game-comments -->
<div class="commentBoard">
  <div class="textarea-border">
      <textarea rows="10" cols="40" class="textarea-comment" id="messageText" placeHolder="Ecrire un commentaire"></textarea>
  </div>
  
  <div class="button simple black" style="width:200px;"> 
    <span class="button send" data-i18n="gamecomment.send"></span>
    <span class="button login" data-i18n="gamecomment.connexion"></span>
  </div>
  
  <div class="zone-list">
    <div data-template="list-comments" class="list-comment"></div>
  </div>
</div>  