<div class="comments background"></div>
<div class="comments content-container">
  <div class="zone-score"></div>

  <div class="zone-list">
    <div>
      <div class="list-comment-title" data-i18n="gamecomment.title"></div>
      <div class="list-comment">
      </div>
    </div>
    <br/>
    <div class="textarea-border">
      <textarea rows="10" cols="40" class="textarea-comment" id="messageText" data-i18n="[placeholder]gamecomment.placeholder;"></textarea>
    </div>
  </div>
</div>

<!--
  SAVE COMMENTS
-->
<div class="button-form" data-input-mode="process">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button send" data-i18n="gamecomment.send"></div></div>
</div>
