<!-- template game.html -->
    <!--
      INFO BAR
    -->
    <div class="infobar">
      <!-- icons -->
      <div class="ui-grid-d header">
        <div class="ui-block-a">
          <img src="/static/images/chrono.png" width="15" height="19" style="margin-top:1px;">
        </div>
        <div class="ui-block-b">
          <img src="/static/images/calendar.png" width="17" height="20">
        </div>
        <div class="ui-block-c">
          <img src="/static/images/house.png" width="21" height="19">
        </div>
        <div class="ui-block-d">
          <img src="/static/images/eye.png" width="20" height="12" style="margin-top:4px;">
        </div>
        <div class="ui-block-e">
        
          <img src="/static/images/people.png" width="24" height="18">
                          
        </div>
      </div>
      <!-- infos -->
      <div class="ui-grid-d text">
        <div class="ui-block-a">
          <span class="timer"><%= timer %></span>
        </div>
        <div class="ui-block-b">
        <%
        if (game.dates) {        
            if (game.dates.start !== undefined ) {            
              if (game.dates.start==="") {
                 game.dates = {
                   startDate : '',
                   startTime : ''
                 };              
              }
              else { 
                //game.dates.startConvert = new Date(game.dates.start);
                game.dates.startConvert = Date.fromString(game.dates.start);
                game.dates.startConvert.month = game.dates.startConvert.getMonth() + 1;
                game.dates.startDate = ('0'+game.dates.startConvert.getDate()).slice(-2)+'/'+('0'+game.dates.startConvert.month).slice(-2)+'/'+(''+game.dates.startConvert.getFullYear()).slice(-2);
                game.dates.startTime = ('0'+game.dates.startConvert.getHours()).slice(-2)+'h'+('0'+game.dates.startConvert.getMinutes()).slice(-2);
              }
           } 
           else {                      
             game.dates = {
               startDate : '',
               startTime : ''
             };           
          }
        }
        else {        
           game.dates = {
             startDate : '',
             startTime : ''
           };           
        }
        %>
        <b>
        <%= game.dates.startDate  %> - 
        <%= game.dates.startTime %>
        </b>
        </div>
        <div class="ui-block-c">
        <b><%= game.location.city %></b>
        </div>
        <div class="ui-block-d">
        <b>
        <%
        if (game.status === "ongoing") game.status = i18n.t('game.ongoing');
        else if (game.status === "finished") game.status = i18n.t('game.finished');
        else if (game.status === "created") game.status = i18n.t('game.created');
        print(game.status);
        %>
        </b>
        </div>
        <div class="ui-block-e">
        
        <b><span data-i18n="game.spectators"></span></b>
        
        </div>
      </div>
    </div>

    <!--
      SCOREBOARD
    -->
<div class="scoreBoard">

   <%
   if (game.teams[0].players[0].owner === undefined) 
   { 
   %>     
  <div class="player-info" id="#players/<%= game.teams[0].players[0].id %>"></div>
     <div class="playerInfos" id="#players/<%= game.teams[0].players[0].id %>">  
  <%
   }
   else {
   %>
     <div class="playerInfos">     
   <%
   }
  %>
  
  
    <span class="player-name"> 
      <b class="server1">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[0].players[0].name %>
    </span>
  
    <div class="other">
      <span class="club">
        <%
         if (game.teams[0].players[0].club !== undefined) {  
           print(' '+game.teams[0].players[0].club.name);  
         } 
        %>
      </span>
      <span class="player-rank">
        <%= game.teams[0].players[0].rank %>
      </span>
    </div>
  </div> 
   
    
  <div class="score-grid">
    <div class="ui-grid-c">
        <div class="ui-block-a legend">1</div>
        <div class="ui-block-b legend">2</div>
        <div class="ui-block-c legend">3</div>
        <div class="ui-block-d legend"></div>
        <div class="ui-block-e legend">sets</div>
    </div>

    <div class="ui-grid-c">
        <div class="ui-block-a" id="team1_set1_div"><div class="score"><%= team1_set1 %></div></div>
        <div class="ui-block-b" id="team1_set2_div"><div class="score"><%= team1_set2 %></div></div>
        <div class="ui-block-c" id="team1_set3_div"><div class="score"><%= team1_set3 %></div></div>
        <div class="ui-block-d"></div>
        <div class="ui-block-e" id="team1_sets_div"><div class="score sets"><%= team1_sets %></div></div>
    </div>
    <!-- /grid-a -->

    <div class="ui-grid-c" style="margin-top:6px;">
        <div class="ui-block-a" id="team2_set1_div"><div class="score"><%= team2_set1 %></div></div>
        <div class="ui-block-b" id="team2_set2_div"><div class="score"><%= team2_set2 %></div></div>
        <div class="ui-block-c" id="team2_set3_div"><div class="score"><%= team2_set3 %></div></div>
        <div class="ui-block-d"></div>
        <div class="ui-block-e" id="team2_sets_div"><div class="score sets"><%= team2_sets %></div></div>
    </div>
    <div class="separator"></div>
  </div>

   <%
   if (game.teams[1].players[0].owner === undefined) 
   { 
   %>     
    <div class="player-info" id="#players/<%= game.teams[1].players[0].id %>"></div>
      <div class="playerInfos" id="#players/<%= game.teams[1].players[0].id %>">  
  <%
   }
   else {
   %>
      <div class="playerInfos">     
   <%
   }
  %>
         
    
    <span class="player-name">   
       <b class="server2">&nbsp;&nbsp;&nbsp;</b>&nbsp;<%= game.teams[1].players[0].name %>
    </span>
    <div class="other">
      <span class="club">
      <% 
        if (game.teams[1].players[0].club !== undefined) {  
          print(' '+game.teams[1].players[0].club.name);  
        } 
      %>
      </span>
      <span class="player-rank">
        <%= game.teams[1].players[0].rank %>
      </span>
    </div>
  </div>
  
 
</div>




