<div class="blue-screen player-form background"></div>
<div class="blue-screen player-form content-container">
  <div class="container">
    <div class="success label label-info hide"></div>
    
    <div id="intro_firstconnection" class="form-label label-info show-if-first" data-i18n="playerform.firstconnection"></div>
    
    <div>
    	<label  class="form-label" for="name" data-i18n="playerform.name"></label><label  class="form-label show-if-first">*</label> 
    </div>
    <div>
    	<input type="text" id="name" name="name" data-i18n="[placeholder]playerform.name;" value="<%= data.name %>" /> 
    </div>

    <div class="name_error label label-error hide"></div>
    
    <div>
      <label class="form-label" for="rank" data-i18n="playerform.rank"></label>
    </div>
    <div>
      <input type="text" id="rank" name="rank" data-i18n="[placeholder]playerform.rank;" value="<%= data.rank %>" /> 
    </div>    

    <div class="rank_error label label-error hide"></div>
    
    <!-- FIXME: Find club_id in Ajax -->
    <div>
      <label class="form-label" for="club" data-i18n="playerform.clubname"></label>
    </div>
    <div>
      <input type="text" id="club" name="club" data-i18n="[placeholder]playerform.clubname;" value="<%= data.club %>" data-autocomplete="autocompleteClubs" data-autocomplete-onselected="autocompleteChoose"/>
    </div>

    <div class="club_error label label-error hide"></div>

  </div>
  
  <div style="padding:20px"></div>
  
</div>

 
<div class="button-form" data-input-mode="process">
  <div class="background rounded"></div>
  <div class="background trapeze"></div>
  <div class="link-form"><div class="button" id="savePlayer" data-i18n="playerform.save"></div></div>  
</div>

	