<div class="gameAdd background"></div>
<div class="gameAdd content-container">
  <div class="simple" style="padding-top:60px">
  
  	<div>
  		<label class="form-label" data-i18n="playerforget.email"></label>
  	</div>
  	<div>
  		<input type="text" id="email" name="email" data-i18n="[placeholder]playerforget.email;" class='jq-ui-forms-white' value="" /> 
  		<span class="email_error label label-info hide"></span>
  	</div>
  
    <div class="form-button-black"> 
      <span id="forgetPlayer" data-i18n="playerforget.send"></span>
    </div>    
  
   <span class="success label label-info hide"></span>
   <span class="success_sentence label label-info hide"></span>   

  </div>
</div>