<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:type" content="<%= event %>" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="http://www.yeswescore.com/static/images/mini-logo.png" />
  <meta property="og:site_name" content="YesWeScore.com" />
  <meta property="og:description" content="<%= title %>" />
  <meta property="game:points" content="<%= score %>"/>

  <meta name="author" content="YesWeScore, Inc.">
  <meta name="apple-itunes-app" content="app-id=654933094">
  <meta name="google-play-app" content="app-id=com.zenodus.client.html5">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no"/>
  <meta charset="utf-8">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- @see http://stackoverflow.com/questions/13529777/ie10-gray-square-on-click-in-windows-8 -->
  <meta name="msapplication-tap-highlight" content="no" />

  <!-- AHAH : <%= foo %> -->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' data-grunt-included="false">
  
  <!-- Production environment -->
  <link rel="stylesheet" href="/%%%@ENV YESWESCORE_WWW_BUILD_VERSION%%%/app.css" data-grunt-included="false"/> 
  <script type="text/javascript" src="/%%%@ENV YESWESCORE_WWW_BUILD_VERSION%%%/app.js" data-grunt-included="false"></script>

  <!-- #ifdef NOCONCAT -->
  <!-- Third party css -->
  <!-- our css -->
  <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
  <link rel="stylesheet" href="/static/styles/jquery.smartbanner.css" type="text/css" media="screen">
  <!-- 3rd party libraries & configuration -->
  <script type="text/javascript" src="/static/js/vendor/jquery/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/js/vendor/jquery/i18next-1.6.0.min.js"></script>  
  <script type="text/javascript" src="/static/js/vendor/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="/static/js/vendor/backbone/backbone.js"></script>
  <script type="text/javascript" src="/static/js/vendor/backbone/backbone.touch.js"></script>
  <script type="text/javascript" src="/static/js/vendor/backbone/backbone.poller.min.js"></script>
  <script type="text/javascript" src="/static/js/vendor/date_iso8601_polyfill.js"></script>
  <script type="text/javascript" src="/static/js/vendor/smartbanner/jquery.smartbanner.js"></script>

    <!-- our libs -->
  <script type="text/javascript" src="/static/js/mylib/helpers.js"></script>

  <!-- our code -->
  <script type="text/javascript" src="/static/js/y/y.js"></script>
  <script type="text/javascript" src="/static/js/y/app.js"></script>
  <script type="text/javascript" src="/static/js/y/db.js"></script>
  <script type="text/javascript" src="/static/js/y/conf.js"></script>
  <script type="text/javascript" src="/static/js/y/autocomplete.js"></script>
  <script type="text/javascript" src="/static/js/y/gui.js"></script>
  <script type="text/javascript" src="/static/js/y/router.js"></script>
  <script type="text/javascript" src="/static/js/y/templates.js"></script>
  <script type="text/javascript" src="/static/js/y/user.js"></script>
  <script type="text/javascript" src="/static/js/y/view.js"></script>
  <!-- Core -->
  <script type="text/javascript" src="/static/js/y/models/game.js"></script>
  <script type="text/javascript" src="/static/js/y/models/stream.js"></script>
  <script type="text/javascript" src="/static/js/y/models/player.js"></script>
  <script type="text/javascript" src="/static/js/y/models/club.js"></script>
  <script type="text/javascript" src="/static/js/y/collections/games.js"></script>
  <script type="text/javascript" src="/static/js/y/collections/players.js"></script> 
  <script type="text/javascript" src="/static/js/y/collections/clubs.js"></script>
  <script type="text/javascript" src="/static/js/y/collections/streams.js"></script>  
  
  <!-- Views pages -->
  <script type="text/javascript" src="/static/js/y/views/header.js"></script>
  <script type="text/javascript" src="/static/js/y/views/navbar.js"></script>
  <script type="text/javascript" src="/static/js/y/views/game.js"></script>
  <script type="text/javascript" src="/static/js/y/views/club-infos.js"></script>
  <script type="text/javascript" src="/static/js/y/views/club-listgames.js"></script>
  <script type="text/javascript" src="/static/js/y/views/game-comments.js"></script>
  <script type="text/javascript" src="/static/js/y/views/game-infobar.js"></script>
  <script type="text/javascript" src="/static/js/y/views/game-scoreboard.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/club.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/clublist.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/game.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/index.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/profil.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/player.js"></script>
  <script type="text/javascript" src="/static/js/y/views/pages/signin.js"></script>
  
  <!-- overwrite Y.env -->
  <script type="text/javascript" src="/static/js/y/env.js"></script>

  <!-- start the app ! -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  
  <!-- #endif -->
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37891108-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  
</head>
<body>
  <!-- this is the header div at the top -->
  <div id="header">
    <div class="container">
      <a class="logo"></a> 
      <div class="title">CHARGEMENT...</div>
      <a class="button simple blue connection"></a>
    </div>
  </div>
   
  <div id="content">     
    <!-- here is where you can add your panels -->
  </div> 
        
  <!-- autocomplete view -->
  <div id="autocomplete"></div>


  <div id="navbar">
	<div id="carouselPlatforms">
		<a href="https://itunes.apple.com/fr/app/yeswescore/id654933094?l=fr&ls=1&mt=8"></a>
		<a href="https://play.google.com/store/apps/details?id=com.zenodus.client.html5" style="background-position:-90px 0"></a>
		<a href="http://www.windowsphone.com/fr-fr/store/app/yeswescore/1d23dd2e-55e4-4c66-a36e-d5d520113755" style="background-position:-180px 0"></a>
	</div>
  </div>

  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fyeswescore&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:590px;" allowTransparency="true"></iframe>
    
  <a class="footer" href="/about/#0">&nbsp;@ 2014 - A propos</a>

  <script type="text/javascript">
      $(function() {
        if ( !(/(iPad|iPhone|iPod).*OS [6-7].*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent)) ) {
          $.smartbanner()
        }
      } );
  </script>
  
</body>
</html>
